<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/Content/img/ana1.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                    </h2>
                </div>
            </li>
            <li>
                <img src="~/Content/img/ana2.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                    </h2>
                </div>
            </li>
            <li>
                <img src="~/Content/img/ana4.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                         <span class="primary"> <strong></strong></span>
                    </h2>
                </div>
            </li>
            <li>
                <img src="~/Content/img/ana3.png" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                    </h2>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Gün İade</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Ücretsiz Teslimat</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Güvenli Ödeme</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Yeni Ürünler</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">En Yeni Ürünler</h2>
                    <div class="product-carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/Satranc.png" alt="">

                                <div class="product-hover">

                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>


                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">Satranç</a></h2>

                            <div class="product-carousel-price">
                                <ins>₺50.00</ins> <del>₺70.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/bbkm.png" alt="">
                                <div class="product-hover">
                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2>Bilinmeyen Bir Kadının Mektubu</h2>
                            <div class="product-carousel-price">
                                <ins>₺89.00</ins> <del>₺99.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/obg.png" alt="">
                                <div class="product-hover">
                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2>Olağanüstü Bir Gece</h2>

                            <div class="product-carousel-price">
                                <ins>₺100.00</ins> <del>₺125.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/bab-ı_esrar.jpg" alt="">
                                <div class="product-hover">
                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2> Bab-ı Esrar</h2>

                            <div class="product-carousel-price">
                                <ins>₺200.00</ins> <del>₺225.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/icimizdeki_seytan.jpg" alt="">
                                <div class="product-hover">
                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2>İçimizdeki Şeytan</h2>

                            <div class="product-carousel-price">
                                <ins>₺120.00</ins> <del>₺135.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/serenad.jpg" alt="">
                                <div class="product-hover">
                                    <a href="/Olta" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Sepete Ekle</a>
                                    <a href="/Olta" class="view-details-link"><i class="fa fa-link"></i> Detaylar</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html"> Serenad</a></h2>

                            <div class="product-carousel-price">
                                <ins>₺250.00</ins> <del>₺400.00</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/Content/img/can.png" alt="">
                        <img src="~/Content/img/is.png" alt="">
                        <img src="~/Content/img/yky.png" alt="">
                        <img src="~/Content/img/dogan.png" alt="">
                        <img src="~/Content/img/iletisim.png" alt="">
                     


                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Çok Satanlar</h2>
                    <a href="/Olta" class="wid-view-more">Tümünü Gör</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/ask_ve_gurur.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Aşk ve Gurur</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺400.00</ins> <del>₺800.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/korku.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Korku</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                          
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺100.00</ins> <del>₺150.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/babaya_mektup.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Babaya Mektup</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺89.00</ins> <del>₺99.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Son Görüntülenen</h2>
                    <a href="/Olta" class="wid-view-more">Tümünü Gör</a>
                    <div class="single-wid-product">
                        <a href="~/Home/single-product.html"><img src="~/Content/img/Madonna.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="~/Home/single-product.html">Kürk Mantolu Madonna</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺280.00</ins> <del>₺300.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/Donusum.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Dönüşüm</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺100.00</ins> <del>₺140.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/1984.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">1984 </a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺250.00</ins> <del>₺350.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">En Yeniler</h2>
                    <a href="/Olta" class="wid-view-more">Tümünü Gör</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/kavgam.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Kavgam</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                           
                        </div>
                        <div class="product-wid-price">
                            <ins>₺400.00</ins> <del>₺560.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/nutuk.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Nutuk</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺500.00</ins> <del>₺800.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/olasiliksiz.png" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Olasılıksız</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>₺350.00</ins> <del>$500.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->